<html>
  <body>
    <h1>Hello, <%= node['apache']['greeting'] %>!</h1>

    <p>My name is <%= node['hostname'] %>.</p>
    <br>
    <p>We love <%= @site_name %></p>
    <p>Served from <%= node['ipaddress'] %>:<%= @port %></p>
    <p>
      This server has <%= node["memory"]["total"].to_i / 1024 %> MB memory.
    </p>
    <p>
      This is version 0.2.0 of the cookbook!
      This change is simple but an effective
      way of demonstrating cookbook versions.
    </p>
  </body>
</html>
